.container-fluid{

	max-width: 70%;
	max-height: 20%;
}
body{

	

background: #FC354C; 
background: -webkit-linear-gradient(to left, #FC354C , #0ABFBC); 
background: linear-gradient(to left, #FC354C , #0ABFBC); 
        
}
#day0 {

	text-align:center;
}
#weather {

  text-align: center; 
}
#extra{

	text-align: center;
}
.main {
	color: black;
  
}
.text{
	font: black;
	font-size:25px;
	font-family: "helveticaneue";
}
 .f {
 	margin-top: 10%;
 
 }
 .f1{
 	margin-top: 10%;
 	
 }
 .f2{
 	margin-top: 10%;
 	
 }
 #satellite {

 	height:30%;
 	width:100%;
 	
 }

.by  {
color: black;
margin-top:20%;
}

#cond{
text-align: center;
}
#temp {
	text-align: center;
	margin-bottom: 15%;
}


